body {
    font-family: "Palatino Linotype", Palatino, Palladio, Baskerville, sans-serif;
    zoom: 90%;
}

pre {
    background-color: #F9F9F9;
    padding: 0 0.5rem 0 0.5rem;
}

#root {
    max-width: 775px;
    min-width: 400px;
}

.Avatar {
    width: 64px;
    height: 64px;
    border-radius: 5%;
}

.CursorPointer {
    cursor: pointer;
    text-decoration: none;
}

.IslandPrivate {
    cursor: default;
}

.bi-trash {
    color: #ccc;
}
.bi-trash:hover {
    color: red;
}
