body {
    font-family: "Palatino Linotype", Palatino, Palladio, Baskerville, sans-serif;
}

pre {
    background-color: #F9F9F9;
    padding: 0 0.5rem 0 0.5rem;
}

#root {
    max-width: 775px;
    min-width: 400px;
}

.Avatar {
    width: 64px;
    height: 64px;
    border-radius: 5%;
}

.IslandPublic {
    cursor: pointer;
}
.IslandPrivate {
    cursor: default;
}